In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series?
Ans:
import pandas as pd
list=[4, 8, 15, 16, 23, 42]
ser = pd.Series(list)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it?
Ans:
import pandas as pd
list=[1,2,3,4,5,6,7,8,9,10]
ser = pd.Series(list)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
Q3. Create a Pandas DataFrame that contains the following data?
Ans:
data = {'Name' :['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans:
    In pandas, a DataFrame is a two-dimensional labeled data structure that is widely used for data manipulation and analysis. It can be thought 
of as a table-like structure with rows and columns, where each column can contain data of different types (e.g., integers, floats, strings, etc.)
DataFrame provides a powerful and flexible way to store and manipulate structured data.

Ex:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
O/p:
       Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
2 Charlie   22      Chicago
3  David   28      Houston



On the other hand, a Series is a one-dimensional labeled array, somewhat similar to a column in a spreadsheet or a single variable in statistics.
It is a fundamental building block of pandas and can hold data of any type. A Series also has an index, which labels each element in the array, 
allowing for fast and efficient data retrieval.

Ex:
import pandas as pd
list=[4, 8, 15, 16, 23, 42]
ser = pd.Series(list)
print(ser)

o/p:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans:
    1) df.head() : These functions allow you to view the first  rows of your DataFrame.
    2) df.tail() : These functions allow you to view the last rows of your DataFrame.
    3) df.dtypes() : These function is used to know the data types of our column .
    4) df.columns : These function is used to know the columns name.
    
Ex:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print(df.head(2)) 

o/p:
    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: A Series is immutable, which means you cannot change its elements or length once it is created. If you need to modify a Series, you'll
generally need to create a new one.

DataFrame: A DataFrame is mutable, which means you can modify its contents, add or remove columns, and perform various data manipulation operations.
You can change the data within a DataFrame without needing to create a new one.

Panel: The Panel was deprecated and removed from pandas starting from version 0.25.0. It used to be a three-dimensional data structure. As of the 
removal, you should use DataFrame objects for 2D data and potentially use MultiIndex to represent higher-dimensional data.

In [13]:
Q7. Create a DataFrame using multiple Series. Explain with an example?
Ans:
    Creating a DataFrame using multiple Series is a common operation in pandas. You can combine multiple Series to form columns of the DataFrame. 
Each Series becomes a column, and the indices of the Series become the index of the DataFrame. 

import pandas as pd
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 22, 28])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])
data = {
    'Name': names,
    'Age': ages,
    'City': cities
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   28      Houston